.new-pass {
  width: 100%;
  border: none;
  background-color: transparent;
  /* border-bottom: 2px solid grey; */
  outline: none;
  margin-top: 7px;
  padding-bottom: 5px;
  font-size: 15px;
  z-index: 1;
  color: white;
}
.pass-div {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.new-pass-underline {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: grey;
}

.new-pass-underline::before {
  position: absolute;
  content: "";
  background-color: #ff5e00;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.new-pass:focus ~ .new-pass-underline::before,
.new-pass:valid ~ .new-pass-underline::before {
  transform: scale(1);
}
.pass-btn {
  margin-top: 50px;
  width: 150px;
  min-height: 50px;
  background-color: #d16527;
  clip-path: polygon(10% 0, 100% 0%, 100% 60%, 90% 100%, 0% 100%, 0 40%);
  border: 3px solid #d16527;
  color: white;
  font-weight: 600;
  transition: clip-path 0.2s linear;
}
.pass-btn:hover {
  clip-path: polygon(0% 0, 100% 0%, 100% 60%, 100% 100%, 0% 100%, 0 40%);
  background-color: black;
}
