.register-div{
    width: 100%;
    height: 100vh;
    background: url('../Asset/loin-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.register-style-div{
    background-color: rgba(0, 0, 0, 0.4);;
    border-radius:30px;
    width: 90%;
}
.reg-heading-div{
    background-color: rgba(0, 0, 0, 0.4);;
    padding: 30px;
    border-radius: 30px 30px 0px 0px;
    text-align: center;

}
.register-inputs input{
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    margin-top: 20px;
    color: white;
}
.register-inputs input::-webkit-outer-spin-button,
.register-inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.register-inputs ::placeholder{
    position: absolute;
    left: 30px;
    font-size: 20px;
    opacity: 1;
}

.register-inputs{
    position: relative;
}
.register-form-underline{
    width: 100%;
    height: 1px;
    background-color:grey;
}
.register-form-underline::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ff5e00;
    transform: scaleX(0);
    transition: all .3s ease;
}

.register-inputs input:focus ~ .register-form-underline::before,
.register-inputs input:valid ~ .register-form-underline::before{
    transform: scaleX(1);
}

.form-div button:hover{
    clip-path: polygon(0% 0, 100% 0%, 100% 60%, 100% 100%, 0% 100%, 0 40%);
    background-color: black;
}

.register-inputs label {
    position: absolute;
    bottom: 5px;
    left: 0;
    pointer-events: none;
    transition: all .3s ease;
}
.register-inputs i{
    font-size: 25px;
}
.register-inputs input:focus ~ label,
.register-inputs input:valid ~ label{
    transform: translateY(-25px);
}